body {
    background-color :#FFB1D9;
}

#container {
    background-color: #CC5F96;
}

footer {
    background-color: #CC5F96;
}

h1 {
    text-shadow: 1px 1px rgb(216, 211, 211);
}

input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  }

  .topnav {
    overflow: hidden;
    background-color: #CC5F96;
    display: flex;
    flex-direction: row;
}

.topnav a {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.topnav a:hover {
    background-color: #FFB1D9;
    color: black;
}

#navbarHeader {
    background-color: #CC5F96;
}

#search, #signin {
    background-color: #FFEBF5;
    color: #CC5F96;
}

.list-unstyled > a {
    color: #CC5F96;
}
