<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travello</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/journeystyle.css" />

</head>

<body>
<div class="mainbody">
    <div class="jumbotron p-3 p-md-5 rounded">
        <div class=" px-0">
            <h1 class="display-8 font-italic">Fantastic skiing in Norway</h1>
            <p>2018-02-02 - 2018-02-09</p>
            <p class="lead my-3">Norge Bla bla bla lorem jesus Bla bla bla lorem jesus Bla bla bla lorem jesus Bla bla bla lorem jesus Bla bla bla lorem jesus Bla bla bla lorem jesus Bla bla bla lorem jesus</p>
        </div>
    </div>
</div>
</body>

</html>