<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${journey.title}"></title>
</head>
<body>
    <h1 th:text="${journey.title}" />
    <h2>
        <a th:href="@{./user/{user.name}/(userName=${user.name})}" th:text="${user.name}" />
    </h2>
    <article th:each="journeyPart : ${journeyParts}">
            <h2 th:text="${journeyPart.title}" />
            <time th:datetime="${journeyPart.startDate}" th:text="${journeyPart.startDate.toLocalDate()}"/>
            <p th:text="${journeyPart.text}"/>
    </article>

    <form action="">
        <button class="btn btn-primary my-2">Like this post</a>
    </form>

</body>