<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travello</title>
</head>
<body>
    <form action="#" method="post" id="regForm"> <!-- Ta bort inline css-->
        Username:
        <input type="text" style="display:block">
        Email:
        <input type="email" style="display:block">
        Password:
        <input type="password" style="display:block">
        Enter birthdate:
        <input type="date" style="display:block">
        <input type="submit" style="display:block">
    </form>
</body>
</html>